.container {
  display: flex;
  background-color: #F5F5F5;;
  height: 100vh;
}
.content {
  padding:  27px 47px;
  background-color: #F5F5F5;
  border-radius: 56px;
  z-index: 1;
  flex: 1;
  margin-left: 200px; /* Ширина сайдбара */
}